@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #4f46e5;
  --color-bg-primary: #111827;
  --color-bg-secondary: #1e293b;
  --color-bg-weekend: #223047;
  --color-status-1: #10b981;
  --color-status-2: #f59e0b;
  --color-status-3: #f43f5d;
  --color-status-4: #6366f1;
  --color-status-5: #4b5563;
  --color-border: #9fa4af6f;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-primary);
  color: #fff;
}
