@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --status-green: #10b981;
  --status-orange: #f59e0b;
  --status-red: #f43f5d;
  --status-blue: #6366f1;
  --status-gray: #4b5563;

  --db-arrival-icon: #99f6e4;
  --db-departure-icon: #fecdd3;
  --db-presentGuests-icon: #c7d2fe;

  --color-bg-primary: #111827;
  --color-bg-secondary: #1e293b;
  --color-border: #9fa4af6f;
  --color-bg-weekend: #223047;
  --color-main: #4f46e5;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-primary);
  color: #fff;
}
